<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nybproject.meet.mapper.DetailMapper">
    <resultMap id="DetailMeetMap" type="com.example.nybproject.meet.pojo.DetailMeet" >
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="admin_id" property="adminId" />
        <result column="name" property="name" />
        <result column="host_comp" property="hostComp" />
        <result column="fund_comp" property="fundComp" />
        <result column="auth_obj" property="authObj" />
        <result column="auth_num" property="authNum" />
        <result column="place" property="place" />
        <result column="cycle" property="cycle" />
        <result column="time" property="time" />
        <result column="area" property="area" />
        <result column="domestic" property="domestic" />
        <result column="foreign" property="foreign" />
        <result column="content" property="content" />
        <result column="view1" property="view1" />
        <result column="view2" property="view2" />
        <result column="pre_expo_file_id" property="preExpoFileId" />
        <result column="investment_plan_file_id" property="investmentPlanFileId" />
        <result column="finan_from" property="finanFrom" />
        <result column="finan_fund" property="finanFund" />
        <result column="other_from" property="otherFrom" />
        <result column="other_fund" property="otherFund" />
        <result column="leader_d" property="leaderD" />
        <result column="leader_f" property="leaderF" />
        <result column="declare" property="declare" />
        <result column="check_state" property="checkState" />
        <result column="delete" property="delete" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <insert id="add">
        insert into detailmeet (id, user_id, admin_id, `name`, host_comp, fund_comp, auth_obj, auth_num, place, `cycle`, `time`, area, domestic, `foreign`, content, view1,
        view2, pre_expo_file_id, investment_plan_file_id, finan_from, finan_fund, other_from, other_fund, leader_d, leader_f, `declare`, check_state, `delete`, create_time, update_time)
        values (#{id}, #{userId}, #{adminId}, #{name}, #{hostComp}, #{fundComp}, #{authObj}, #{authNum}, #{place}, #{cycle}, #{time}, #{area}, #{domestic}, #{foreign}, #{content}, #{view1},
         #{view2}, #{preExpoFileId}, #{investmentPlanFileId}, #{finanFrom}, #{finanFund}, #{otherFrom}, #{otherFund}, #{leaderD}, #{leaderD}, #{declare}, #{checkState}, #{delete}, #{createTime}, #{updateTime})
    </insert>

    <select id="findNewId" resultType="java.lang.Integer">
        select max(id) from detailmeet
    </select>
</mapper>
