<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nybproject.meet.mapper.EasyMapper">
    <resultMap id="EasyMeetMap" type="com.example.nybproject.meet.pojo.EasyMeet" >
        <result column="id" property="id" />
        <result column="dmeet_id" property="dmeetId" />
        <result column="user_id" property="userId" />
        <result column="admin_id" property="adminId" />
        <result column="name" property="name" />
        <result column="host" property="host" />
        <result column="time" property="time" />
        <result column="place" property="place" />
        <result column="ps" property="ps" />
        <result column="check_state" property="checkState" />
        <result column="delete" property="delete" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <insert id="add">
        insert into easymeet (id, dmeet_id, user_id, admin_id, name, host, time, place, ps, check_state, `delete`, create_time, update_time)
        values (#{id}, #{dmeetId}, #{userId}, #{adminId}, #{name}, #{host}, #{time}, #{place}, #{ps}, #{checkState}, #{delete}, #{createTime}, #{updateTime})
    </insert>
    <select id="findAllNotCheckEasy" resultMap="EasyMeetMap">
        select * from easymeet where check_state = 0 and delete = 0
    </select>
    <select id="findNewId" resultType="java.lang.Integer">
        select max(id) from easymeet
    </select>
    <update id="checkEasyMeet">
        update easymeet set check_state = #{checkState}, admin_id = #{adminId} where id = #{id}
    </update>
    <select id="findById" resultMap="EasyMeetMap">
        select * from easymeet where id = #{id}
    </select>
</mapper>
