<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.nybproject.meet.mapper.SummaryMapper">

    <resultMap id="BaseResultMap" type="com.example.nybproject.meet.pojo.Summary">
        <result property="id" column="id"/>
        <result property="meetId" column="meet_id"/>
        <result property="adminId" column="admin_id"/>
        <result property="countryNum" column="country_num"/>
        <result property="provinceState" column="province_state"/>
        <result property="companyNum" column="company_num"/>
        <result property="area" column="area"/>
        <result property="displayObj" column="display_obj"/>
        <result property="buyerNum" column="buyer_num"/>
        <result property="mediaNum" column="media_num"/>
        <result property="turnover" column="turnover"/>
        <result property="viewerNum" column="viewer_num"/>
        <result property="activityNum" column="activity_num"/>
        <result property="meetHighlight" column="meet_highlight"/>
        <result property="nextWorkPlan" column="next_work_plan"/>
        <result property="writeObject" column="write_object"/>
        <result property="department" column="department"/>
        <result property="charger" column="charger"/>
        <result property="teleNum" column="tele_num"/>
        <result property="summaryFileId" column="summary_file_id"/>
        <result property="hosterSignFileId" column="hoster_sign_file_id"/>
        <result property="kind" column="kind"/>
        <result property="delete" column="delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id ,meet_id ,admin_id ,country_num ,province_state ,company_num ,area ,display_obj ,buyer_num ,media_num ,turnover ,viewer_num ,activity_num ,meet_highlight ,next_work_plan ,write_object ,department ,charger ,tele_num ,summary_file_id ,hoster_sign_file_id ,kind ,`delete` ,create_time ,update_time
    </sql>

    <insert id="saveSelective"  useGeneratedKeys="true" keyProperty="id"  parameterType="com.example.nybproject.meet.pojo.Summary">
        INSERT INTO summary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null!=id">
                id  ,
            </if>
            <if test="null!=meetId">
                meet_id  ,
            </if>
            <if test="null!=adminId">
                admin_id  ,
            </if>
            <if test="null!=countryNum">
                country_num  ,
            </if>
            <if test="null!=provinceState">
                province_state  ,
            </if>
            <if test="null!=companyNum">
                company_num  ,
            </if>
            <if test="null!=area">
                area  ,
            </if>
            <if test="null!=displayObj">
                display_obj  ,
            </if>
            <if test="null!=buyerNum">
                buyer_num  ,
            </if>
            <if test="null!=mediaNum">
                media_num  ,
            </if>
            <if test="null!=turnover">
                turnover  ,
            </if>
            <if test="null!=onlineTurnover">
                online_turnover  ,
            </if>
            <if test="null!=onlineViewer">
                online_viewer  ,
            </if>
            <if test="null!=viewerNum">
                viewer_num  ,
            </if>
            <if test="null!=activityNum">
                activity_num  ,
            </if>
            <if test="null!=meetHighlight">
                meet_highlight  ,
            </if>
            <if test="null!=nextWorkPlan">
                next_work_plan  ,
            </if>
            <if test="null!=writeObject">
                write_object  ,
            </if>
            <if test="null!=department">
                department  ,
            </if>
            <if test="null!=charger">
                charger  ,
            </if>
            <if test="null!=teleNum">
                tele_num  ,
            </if>
            <if test="null!=summaryFileId">
                summary_file_id  ,
            </if>
            <if test="null!=hosterSignFileId">
                hoster_sign_file_id  ,
            </if>
            <if test="null!=kind">
                kind  ,
            </if>
            <if test="null!=delete">
                `delete`  ,
            </if>
            <if test="null!=createTime">
                create_time  ,
            </if>
            <if test="null!=updateTime">
                update_time
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="null!=id">
                #{id, jdbcType=BIGINT} ,
            </if>
            <if test="null!=meetId">
                #{meetId, jdbcType=BIGINT} ,
            </if>
            <if test="null!=adminId">
                #{adminId, jdbcType=BIGINT} ,
            </if>
            <if test="null!=countryNum">
                #{countryNum, jdbcType=INTEGER} ,
            </if>
            <if test="null!=provinceState">
                #{provinceState, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=companyNum">
                #{companyNum, jdbcType=INTEGER} ,
            </if>
            <if test="null!=area">
                #{area, jdbcType=INTEGER} ,
            </if>
            <if test="null!=displayObj">
                #{displayObj, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=buyerNum">
                #{buyerNum, jdbcType=INTEGER} ,
            </if>
            <if test="null!=mediaNum">
                #{mediaNum, jdbcType=INTEGER} ,
            </if>
            <if test="null!=turnover">
                #{turnover, jdbcType=INTEGER} ,
            </if>
            <if test="null!=onlineTurnover">
                #{onlineTurnover, jdbcType=INTEGER} ,
            </if>
            <if test="null!=onlineViewer">
                #{onlineViewer, jdbcType=INTEGER} ,
            </if>
            <if test="null!=viewerNum">
                #{viewerNum, jdbcType=INTEGER} ,
            </if>
            <if test="null!=activityNum">
                #{activityNum, jdbcType=INTEGER} ,
            </if>
            <if test="null!=meetHighlight">
                #{meetHighlight, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=nextWorkPlan">
                #{nextWorkPlan, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=writeObject">
                #{writeObject, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=department">
                #{department, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=charger">
                #{charger, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=teleNum">
                #{teleNum, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=summaryFileId">
                #{summaryFileId, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=hosterSignFileId">
                #{hosterSignFileId, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=kind">
                #{kind, jdbcType=INTEGER} ,
            </if>
            <if test="null!=delete">
                #{delete, jdbcType=TINYINT} ,
            </if>
            <if test="null!=createTime">
                #{createTime, jdbcType=TIMESTAMP} ,
            </if>
            <if test="null!=updateTime">
                #{updateTime, jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.example.nybproject.meet.pojo.Summary">
        UPDATE summary
        <set>
            <if test="null!=meetId">
                meet_id = #{meetId, jdbcType=BIGINT} ,
            </if>
            <if test="null!=adminId">
                admin_id = #{adminId, jdbcType=BIGINT} ,
            </if>
            <if test="null!=countryNum">
                country_num = #{countryNum, jdbcType=INTEGER} ,
            </if>
            <if test="null!=provinceState and ''!=provinceState ">
                province_state = #{provinceState, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=companyNum">
                company_num = #{companyNum, jdbcType=INTEGER} ,
            </if>
            <if test="null!=area">
                area = #{area, jdbcType=INTEGER} ,
            </if>
            <if test="null!=displayObj and ''!=displayObj ">
                display_obj = #{displayObj, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=buyerNum">
                buyer_num = #{buyerNum, jdbcType=INTEGER} ,
            </if>
            <if test="null!=mediaNum">
                media_num = #{mediaNum, jdbcType=INTEGER} ,
            </if>
            <if test="null!=turnover">
                turnover = #{turnover, jdbcType=INTEGER} ,
            </if>
            <if test="null!=onlineTurnover">
                online_turnover = #{onlineTurnover, jdbcType=INTEGER} ,
            </if>
            <if test="null!=onlineViewer">
                online_viewer = #{onlineViewer, jdbcType=INTEGER} ,
            </if>
            <if test="null!=viewerNum">
                viewer_num = #{viewerNum, jdbcType=INTEGER} ,
            </if>
            <if test="null!=activityNum">
                activity_num = #{activityNum, jdbcType=INTEGER} ,
            </if>
            <if test="null!=meetHighlight and ''!=meetHighlight ">
                meet_highlight = #{meetHighlight, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=nextWorkPlan and ''!=nextWorkPlan ">
                next_work_plan = #{nextWorkPlan, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=writeObject and ''!=writeObject ">
                write_object = #{writeObject, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=department and ''!=department ">
                department = #{department, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=charger and ''!=charger ">
                charger = #{charger, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=teleNum and ''!=teleNum ">
                tele_num = #{teleNum, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=summaryFileId and ''!=summaryFileId ">
                summary_file_id = #{summaryFileId, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=hosterSignFileId and ''!=hosterSignFileId ">
                hoster_sign_file_id = #{hosterSignFileId, jdbcType=VARCHAR} ,
            </if>
            <if test="null!=kind">
                kind = #{kind, jdbcType=INTEGER} ,
            </if>
            <if test="null!=delete">
                `delete` = #{delete, jdbcType=TINYINT} ,
            </if>
            <if test="null!=createTime">
                create_time = #{createTime, jdbcType=TIMESTAMP} ,
            </if>
            <if test="null!=updateTime">
                update_time = #{updateTime, jdbcType=TIMESTAMP}
            </if>
        </set>
        WHERE
        id = #{id}
    </update>

    <select id="getByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM summary
        WHERE
        id = #{id} AND
        `delete` = 0
    </select>

    <select id="findsAll" resultMap="BaseResultMap">
        select * from summary where `delete` = 0
    </select>

    <select id="selectBykeyValue" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM summary
        WHERE
        <if test="null!=meetId">
            meet_id = #{meetId, jdbcType=BIGINT} ,
        </if>
        <if test="null!=countryNum">
            country_num > #{countryNum, jdbcType=INTEGER} ,
        </if>
        <if test="null!=companyNum">
            company_num > #{companyNum, jdbcType=INTEGER} ,
        </if>
        <if test="null!=area">
            area > #{area, jdbcType=INTEGER} ,
        </if>
        <if test="null!=buyerNum">
            buyer_num > #{buyerNum, jdbcType=INTEGER} ,
        </if>
        <if test="null!=mediaNum">
            media_num > #{mediaNum, jdbcType=INTEGER} ,
        </if>
        <if test="null!=turnover">
            turnover > #{turnover, jdbcType=INTEGER} ,
        </if>
        <if test="null!=kind">
            kind = #{kind, jdbcType=INTEGER} ,
        </if>
    </select>

</mapper>
